.tabela {
    border-spacing: 0;
    width: 100%;
    border: 1px solid black;   
    border-radius: 3px;
}
.tabela .cabeca {
    text-align: center;
}
.tabela .dado{
    text-align: center;
}
.tabela th {
    border: 1px solid #000;
    padding: 8px;
}
.tabela td {
    border: 1px solid #000;
    padding: 4px;
}
.links{
    color: black;
}
.links:hover{
    color: blue;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}
form {
    max-width: 400px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}
label {
    position: absolute;
    left: 10px;
    top: 40%;
    transform: translateY(-60%);
}
input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    text-align: center;
}

input:hover{
    /* nada a colocar */ 
}
#botaoLogar:hover{
    filter: brightness(85%);
}

a {
    color: black;
}
a:hover {
    text-decoration: underline;
    cursor: pointer;
}
#txtNomeLogin{
    text-align: center;
    border-radius: 8px;
}
#txtSenhaLogin{
    text-align: center;
    border-radius: 8px;
}

#txtCadastrarNome{
    text-align: center;
    border-radius: 8px;
}
#botaoLogar {
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 90px;
    height: 40px;
    margin-top: -7px;
    margin-bottom: 5px;
}

.botaoVoltar4{
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 90px;
    height: 40px;
    margin-top: -25px;
    margin-bottom: 5px;
}
.botaoVoltar4:hover{
    filter: brightness(85%);
}

.botaoVoltar5{
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 90px;
    height: 40px;
    margin-top: 4px;
    margin-bottom: 5px;
}
.botaoVoltar5:hover{
    filter: brightness(85%);
}

#botaoEntrar{
    background-color:red !important;
    color: white !important;
    border: none !important;
    border-radius: 6px !important;
    cursor: pointer !important;
    width: 90px !important;
    height: 40px !important;
}


#divLogin button{
    background-color: black;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 90px;
    height: 40px;
}

#divLogin button:hover{
    filter: brightness(85%);
}



#botaoCadastrar{
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 90px;
    height: 40px;
    margin-top: 35px;
    margin-bottom: 5px;
}
#botaoCadastrar:hover{
    filter: brightness(85%);
}
#botaoVoltar1:hover{
    filter: brightness(85%);
}
#botaoVoltar1{
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 90px;
    height: 40px;
    margin-top: -7px;
    margin-bottom: 5px;
}
.botaoVoltar3{
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 90px;
    height: 40px;
    margin-top: 6px;
    margin-bottom: 5px;
}
.botaoVoltar3:hover{
    filter: brightness(85%);
}
.novaTarefa{
    text-align: right;
    margin-right: 3px;
}
#botaoNovaTarefa{
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 90px;
    height: 40px;
    margin-top: 6px;
    margin-bottom: 5px;
}
#botaoNovaTarefa:hover{
    filter: brightness(85%);
}
#tituloLogin{
    font-size: 30px;
}
#divLogin p {
    margin: 10px 0;
    position: relative;
    text-align: center;
}
#cadastrarCliente{
    font-size: 30px;
}
input[type="file"]{
    display:none;
}
#lblFoto{
    text-align: center;
    width: 100%;
    height: 35px; 
    background-color: black;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 16px;
    display: inline-block;
    margin-top: 8px;
    margin-left: -8px;
    padding: 5px;
}
#lblFoto:hover{
    filter: brightness(85%);
}

form #recuperarSenha {
    font-size: 13px; /* Ajuste o tamanho da fonte conforme necessário */
}

.icons i {
    margin-top: 8px;
    font-size: 30px; /* Ajuste o tamanho conforme necessário */
    margin-right: 10px; /* Espaçamento entre os ícones, ajuste conforme necessário */
  }


.toggle-password {  
    position: absolute;
    right: 10px;
    top: 37%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
}

.msgErro{
    text-align: center;
}

#tituloTarefas{
    text-align: center;
}

.botaolink{
    color: white;
    text-decoration: none;
}
.botaolink:hover{
    color: white;
    text-decoration: none;
}
